/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap'); */

:root {
  --background: #fefefe;
  --foreground: #212121;
  @media (prefers-color-scheme: dark) {
    --background: #212121;
    --foreground: #fefefe;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 112.5%; /* 18px */
}

body {
  font-family: Roboto, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}
